## Imports e Dataframes

In [69]:
import pandas as pd
import numpy as np
import requests
from IPython.display import clear_output

In [13]:
popBrasilDic = {
    'Amazonas': 3938336,
    'São Paulo': 44396484,
    'Bahia': 15203934,
    'Minas Gerais': 20869101,
    'Roraima': 505665,
    'Distrito Federal': 2914830
}

areaBrasilDic = {
    'Amazonas': 1559167,
    'São Paulo': 248219,
    'Bahia': 564760,
    'Minas Gerais': 586521,
    'Roraima': 223644,
    'Distrito Federal': 5760
}

df_estados = pd.DataFrame({'População': popBrasilDic,
                       'Área': areaBrasilDic})

df_estados['Densidade'] = df_estados['População'] / df_estados['Área']

In [53]:
df_aprovacoes = pd.read_csv('https://dadosabertos.bndes.gov.br/dataset/bce5a865-e766-4a7a-b537-9499c81275b6/resource/08f7a11c-48e0-4d3e-9a75-d95641657ebf/download/aprovacoes-por-uf-aprovacoes.csv', sep=';')

## Indexação, seleção e filtragem

|Operação                                    | Sintaxe             | Resultado    | 
|:---------:                                 |:-------------------:|:------------:|
|Seleciona uma coluna                        | ``df[col]``         | ``Series``   |
|Seleciona duas colunas                      | ``df[[col1, col2]]``| ``DataFrame``|
|Seleciona uma linha usando rótulo           | ``df.loc[rotulo]``  | ``Series``   |
|Seleciona uma linha usando inteiro          | ``df.iloc[i]``      | ``Series``   |
|Recorta o dataframe da linha 2 a 5          | ``df[2:5]``        |``DataFrame`` |
|Seleciona linhas usando um vetor booleano   | ``df[vetor_bool]``    | ``DataFrame``|

#### Selecionando `uma` ou `mais` colunas

In [15]:
df_estados['Densidade']

Amazonas              2.525923
São Paulo           178.860136
Bahia                26.921053
Minas Gerais         35.581166
Roraima               2.261026
Distrito Federal    506.046875
Name: Densidade, dtype: float64

In [16]:
df_estados.Densidade

Amazonas              2.525923
São Paulo           178.860136
Bahia                26.921053
Minas Gerais         35.581166
Roraima               2.261026
Distrito Federal    506.046875
Name: Densidade, dtype: float64

In [18]:
df_estados[['Densidade', 'Área']] #Pode inverter a ordem também

                   Densidade     Área
Amazonas            2.525923  1559167
São Paulo         178.860136   248219
Bahia              26.921053   564760
Minas Gerais       35.581166   586521
Roraima             2.261026   223644
Distrito Federal  506.046875     5760

#### loc e iloc -> Localizar linhas

In [19]:
df_estados.loc['São Paulo']

População    4.439648e+07
Área         2.482190e+05
Densidade    1.788601e+02
Name: São Paulo, dtype: float64

In [51]:
df_estados.loc[df_estados['Densidade'] < 10, 'Densidade']

Amazonas    2.525923
Roraima     2.261026
Name: Densidade, dtype: float64

In [20]:
df_estados.iloc[1]

População    4.439648e+07
Área         2.482190e+05
Densidade    1.788601e+02
Name: São Paulo, dtype: float64

#### Slicing (Fatiamento)

In [22]:
df_estados['Bahia':'Roraima']

              População    Área  Densidade
Bahia          15203934  564760  26.921053
Minas Gerais   20869101  586521  35.581166
Roraima          505665  223644   2.261026

In [25]:
df_estados[2:5]

              População    Área  Densidade
Bahia          15203934  564760  26.921053
Minas Gerais   20869101  586521  35.581166
Roraima          505665  223644   2.261026

#### Filtro booleano

In [35]:
slic_bool = (df_estados['População'] > 1000000) & (df_estados['Área'] > 100000)

In [38]:
slic_bool

Amazonas             True
São Paulo            True
Bahia                True
Minas Gerais         True
Roraima             False
Distrito Federal    False
dtype: bool

In [36]:
df_estados[slic_bool]

              População     Área   Densidade
Amazonas        3938336  1559167    2.525923
São Paulo      44396484   248219  178.860136
Bahia          15203934   564760   26.921053
Minas Gerais   20869101   586521   35.581166

#### Transpondo dataframe

In [39]:
df_estados.T

,Amazonas,São Paulo,Bahia,Minas Gerais,Roraima,Distrito Federal
População,3.938336e+06,4.439648e+07,1.520393e+07,2.086910e+07,505665.000000,2.914830e+06
Área,1.559167e+06,2.482190e+05,5.647600e+05,5.865210e+05,223644.000000,5.760000e+03
Densidade,2.525923e+00,1.788601e+02,2.692105e+01,3.558117e+01,2.261026,5.060469e+02

#### Values

Retorna um Array Numpy

In [40]:
df_estados.values

array([[3.93833600e+06, 1.55916700e+06, 2.52592314e+00],
       [4.43964840e+07, 2.48219000e+05, 1.78860136e+02],
       [1.52039340e+07, 5.64760000e+05, 2.69210532e+01],
       [2.08691010e+07, 5.86521000e+05, 3.55811659e+01],
       [5.05665000e+05, 2.23644000e+05, 2.26102645e+00],
       [2.91483000e+06, 5.76000000e+03, 5.06046875e+02]])

## Valores únicos e contadores

In [54]:
df_aprovacoes.head(3)

,ano,mes,acre,amapa,amazonas,para,rondonia,roraima,tocantins,alagoas,...,minas_gerais,rio_de_janeiro,sao_paulo,parana,rio_grande_do_sul,santa_catarina,distrito_federal,goias,mato_grosso,mato_grosso_do_sul
0,1995,1,"0,41869679","0,0","2,23413839","1,84649181","1,04473767","0,0","0,43530234","3,90345966",...,"24,21161259","121,27492154","160,95511135","44,50362458","37,59527024","35,30349192","1,9437482","8,34773228","16,27915326","10,26813495"
1,1995,2,"0,04578434","0,0","2,74517813","42,48085156","0,36960426","0,0","0,64214309","2,29334262",...,"26,77981918","43,42129588","150,04287144","30,00488924","127,62421063","25,61771037","6,73717989","4,2283233","17,33613937","2,98495465"
2,1995,3,"0,58793111","0,0","4,25038413","7,07201709","1,88492287","0,07966938","2,90366427","22,91684798",...,"40,38929874","79,26081391","195,14362719","67,2498400399999","79,49332923","61,3169039300001","4,32211726","17,28640648","40,58887985","15,20808378"

In [55]:
df_aprovacoes['ano'].unique()

array([1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005,
       2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016,
       2017, 2018, 2019, 2020, 2021, 2022, 2023], dtype=int64)

In [57]:
df_aprovacoes['ano'].nunique()

29

In [60]:
df_aprovacoes.loc[:,'acre':].columns.nunique()

27

## Interação WEB API

Link API Governo: https://apidatalake.tesouro.gov.br/docs/sadipem/#/PVL%20-%20Dados%20B%C3%A1sicos/get_pvl

* Para verificar a API, clique no link e em seguida clique em "try it out", depois, selecione os filtros que deseja;
* O link para Estado e Município (tipo_interessado) são diferentes.

In [65]:
def consulta(uf:str, tipo_interessado:int):
    if tipo_interessado == 0:
        url = f'https://apidatalake.tesouro.gov.br/ords/sadipem/tt/pvl?uf={uf}&tipo_interessado=Munic%C3%ADpio'
    elif  tipo_interessado == 1:
        url = f'https://apidatalake.tesouro.gov.br/ords/sadipem/tt/pvl?uf={uf}&tipo_interessado=Estado'

    r = requests.get(url)
    if r.status_code <= 200: #Se o status HTTP for menor ou igual a 200, a requisição foi bem sucedida
        print(f'Succes Status HTTP: {r.status_code}')
        data_json = r.json() #Transformar de objeto para json, formato legível para python
        df = pd.DataFrame(data_json['items'])
        return df
    elif r.status_code > 200:
        return f'Error Status HTTP: {r.status_code}'

In [72]:
uf_lista = {'AC':1, 'AL':2, 'AM':3, 'AP':4, 'BA':5, 'CE':6,  'DF':7, 'ES':8, 'GO':9, 'MA':10, 'MG':11, 'MS':12, 
            'MT':13, 'PA':14, 'PB':15, 'PE':16, 'PI':17, 'PR':18,  'RJ':19, 'RN':20, 'RO':21, 'RR':22, 'RS':23, 'SC':24, 'SE':25,  'SP':26,  'TO':27}

for chave, valor in uf_lista.items():
    print(chave, valor)
escolha_uf = input('Digite o numero do UF: ')
escolha_interesse = input('Digite: \nMunicípio[0]\nEstado[1]\n')

try: 
    escolha_uf = int(escolha_uf)
    escolha_interesse = int(escolha_interesse)
    for chave, valor in uf_lista.items():
        if valor == escolha_uf: #Obtendo a string do UF (Ex: BA, SP...) de acordo com o número escolhido pelo usuário
            uf = chave 
    clear_output(wait=False) #Após concluído o terminal é limpo
    
except Exception as exc:
    print(f'Erro {exc}')

In [73]:
df = consulta(uf=uf, tipo_interessado=escolha_interesse)
df.head()

Succes Status HTTP: 200

,id_pleito,tipo_interessado,interessado,cod_ibge,uf,num_pvl,status,num_processo,data_protocolo,tipo_operacao,finalidade,tipo_credor,credor,moeda,valor,pvl_assoc_divida,pvl_contradado_credor,data_status
0,48051,Estado,São Paulo,35,SP,PVL02.002802/2021-77,Encaminhado à PGFN com manifestação técnica fa...,17944.103753/2021-51,2022-05-27T21:34:28Z,Operação contratual externa (com garantia da U...,Infraestrutura,Instituição Financeira Internacional,Corporação Andina de Fomento,Dólar dos EUA,5.500000e+08,0,0,31/05/2022
1,67621,Estado,São Paulo,35,SP,PVL02.004327/2023-35,Em retificação pelo interessado,17944.000023/2024-42,2023-12-28T16:06:15Z,Operação contratual interna,Aporte em PPP,Instituição Financeira Nacional,Banco Nacional de Desenvolvimento Econômico e ...,Real,1.354898e+09,0,0,22/01/2024
2,6536,Estado,São Paulo,35,SP,None,Deferido,17944.000375/2012-64,2012-03-16T03:00:00Z,Operação contratual interna,Infraestrutura,Instituição Financeira Nacional,Banco Nacional de Desenvolvimento Econômico e ...,Real,9.220000e+08,1,0,19/04/2012
3,5223,Estado,São Paulo,35,SP,None,Encaminhado à PGFN com manifestação técnica fa...,17944.000063/2010-99,2010-08-18T03:00:00Z,Operação contratual externa (com garantia da U...,Preservação e recuperação ambiental,Instituição Financeira Internacional,Banco Interamericano de Desenvolvimento,Dólar dos EUA,1.624540e+08,1,0,25/08/2010
4,7053,Estado,São Paulo,35,SP,None,Encaminhado à PGFN com manifestação técnica fa...,17944.000486/2013-51,2014-01-31T02:00:00Z,Operação contratual externa (com garantia da U...,Infraestrutura,Instituição Financeira Internacional,Agência Francesa de Desenvolvimento,Euro,3.000000e+08,1,0,05/03/2014

## Salvar Dataframe em CSV

* Ele será salvo na mesma pasta deste notebook, com o nome do dataframe de sua escolha e com a extensão .csv;
* Pode adicionar o diretório que quiser para salvar.

In [74]:
# df.to_csv('./nome_estado.csv')