# Method Chaining

#### Imports e Dataframe

In [25]:
import pandas as pd
import numpy as np

In [11]:
resultados = pd.read_csv('nba.csv')
df = resultados.copy()
resultados.head()

,Date,Start (ET),Visitor/Neutral,PTS,Home/Neutral,PTS.1,Unnamed: 6,Unnamed: 7,Attend.,Arena,Notes
0,Fri Jan 1 2021,7:00p,Memphis Grizzlies,108,Charlotte Hornets,93,Box Score,NaN,0,Spectrum Center,NaN
1,Fri Jan 1 2021,7:00p,Miami Heat,83,Dallas Mavericks,93,Box Score,NaN,0,American Airlines Center,NaN
2,Fri Jan 1 2021,7:00p,Boston Celtics,93,Detroit Pistons,96,Box Score,NaN,0,Little Caesars Arena,NaN
3,Fri Jan 1 2021,7:30p,Atlanta Hawks,114,Brooklyn Nets,96,Box Score,NaN,0,Barclays Center,NaN
4,Fri Jan 1 2021,8:00p,Chicago Bulls,96,Milwaukee Bucks,126,Box Score,NaN,0,Fiserv Forum,NaN

In [12]:
colunas = {
    'Date': 'data',
    'Start (ET)': 'horario',
    'Visitor/Neutral': 'time_visitante',
    'PTS': 'pts_visit',
    'Home/Neutral': 'time_casa',
    'PTS.1': 'pts_casa',
    'Unnamed: 6': 'a',
    'Unnamed: 7': 'b',
    'Attend.': 'publico',
    'Notes': 'anot'
    }

In [26]:
def det_vencedor(df):
    df['ganhador'] = np.where(df['pts_visit'] < df['pts_casa'], 'casa', 'visitante')
    return df

#### Antes

* Aplicar métodos do jeito abaixo, criando inúmeras variáveis torna o código ilegível, para isso se utiliza o method chaining.

In [30]:
result_renomeado = resultados.rename(columns=colunas)
result_renomeado['data'] = pd.to_datetime(result_renomeado['data'])
result_renomeado_data = result_renomeado.set_index('data')
result_renomeado_data_cols = result_renomeado_data.drop(['horario','a','b','publico','anot'], axis=1)
result_renomeado_data_cols['total'] = result_renomeado_data_cols['pts_visit']+result_renomeado_data_cols['pts_casa']
result_renomeado_data_cols_venc = result_renomeado_data_cols.apply(det_vencedor, axis=1)

#### Depois: Assign() e Pipe()

`.assign()` faz a mesma coisa que o `=` para refatoração de colunas ou criação de novas colunas

`.pipe()` aplica funções criadas por nós mesmos a um dataframe

`()` os parenteses servem para que possamos "quebrar" o código deixando-o mais legível.

`IMPORTANTE` Caso seja necessário `MUITOS` assign() preferir o apply()

In [29]:
df = (resultados.rename(columns=colunas)
    .assign(data = lambda x: pd.to_datetime(x.data)) #data não precisa de aspas no assign()
    .set_index('data')
    .drop(['horario','a','b','publico','anot'], axis=1)
    .assign(total = lambda x: x['pts_visit']+x['pts_casa'])
    .pipe(det_vencedor)
)

# For vs List Comprehenssion

#### Dataframe

In [32]:
df_aux = pd.DataFrame({'A': np.arange(10, 101, 10), 
                       'B': np.arange(1, 11, 1)})

In [33]:
df_aux

     A   B
0   10   1
1   20   2
2   30   3
3   40   4
4   50   5
5   60   6
6   70   7
7   80   8
8   90   9
9  100  10

#### Usando `for` e `zip` e `if-else`

In [36]:
for a,b in zip(df_aux['A'],df_aux['B']):
    if b % 2 == 0:
        print(a+b)
    else:
        print(0)

0
22
0
44
0
66
0
88
0
110

#### *list comprehension* e `zip` e `if`
```python
[expr for item in lista if cond]
```

In [35]:
[a + b for a,b in zip(df_aux['A'],df_aux['B']) if b % 2 == 0]

[22, 44, 66, 88, 110]

#### *list comprehension* e `zip` e `if-else`
```python
[expr1 if cond else expr2 for item in lista ]
```

In [34]:
[a + b if b % 2 == 0 else 0 for a,b in zip(df_aux['A'],df_aux['B'])]

[0, 22, 0, 44, 0, 66, 0, 88, 0, 110]

# Apply