# Python e SQL

#### Import

In [1]:
import psycopg2 as pg2
import pandas as pd

#### Conexão e Query

In [23]:
conn = pg2.connect(host='localhost', port=5432, dbname='demo', user='postgres', password='jrap2806')

In [24]:
cur = conn.cursor()

In [25]:
cur.execute('select * from ticket_flights')

In [26]:
conn.commit()

In [27]:
data = cur.fetchall() #fetchone() ou fetchmany()

In [28]:
colnames = [desc.name for desc in cur.description]

In [29]:
cur.description #Description é uma tupla de objetos descritivos do meu database
#desc.name acessa o atributo "name" de cada objeto

(Column(name='ticket_no', type_code=1042),
 Column(name='flight_id', type_code=23),
 Column(name='fare_conditions', type_code=1043),
 Column(name='amount', type_code=1700))

In [30]:
colnames

['ticket_no', 'flight_id', 'fare_conditions', 'amount']

In [31]:
cur.close()
conn.close()

In [32]:
df = pd.DataFrame(data, columns=colnames)
df.head(n=5)

       ticket_no  flight_id fare_conditions     amount
0  0005432081075      11002        Business   99800.00
1  0005433845814      11047        Business   99800.00
2  0005432003470      27484        Business   99800.00
3  0005433568595      23503        Business  105900.00
4  0005432003656      27415        Business   99800.00

#### Junção de tabelas e agregações SQL com Python

Você encontra essa mesma query feita no postgre na pasta de origem desta anotação com o nome "query_postgre"

In [34]:
conn = pg2.connect(host='localhost', port=5432, dbname='dvdrental', user='postgres', password='jrap2806')

In [35]:
cur = conn.cursor()

In [36]:
cur.execute('''select *
                from film as x
                left join film_category as y
                	on x.film_id = y.film_id
                left join category as z
                	on z.category_id = y.category_id;''')

In [37]:
conn.commit()

In [38]:
data = cur.fetchall()

In [39]:
colnames = [desc.name for desc in cur.description]

In [40]:
cur.close()
conn.close()

In [42]:
df = pd.DataFrame(data, columns=colnames)

In [45]:
df[['name', 'rental_duration', 'rental_rate', 'length','replacement_cost']].dtypes

name                object
rental_duration      int64
rental_rate         object
length               int64
replacement_cost    object
dtype: object

In [47]:
df[['rental_rate','replacement_cost']].astype(float).dtypes

rental_rate         float64
replacement_cost    float64
dtype: object

In [48]:
df[['name', 'rental_duration', 'rental_rate', 'length',
    'replacement_cost']].groupby('name').mean()

             rental_duration rental_rate      length replacement_cost
name
Action              4.953125     2.64625  111.609375        20.911875
Animation           4.893939    2.808182  111.015152        20.126364
Children            5.033333        2.89  109.800000        20.056667
Classics            5.070175    2.744386  111.666667        21.007544
Comedy              4.931034    3.162414  115.827586        19.024483
Documentary         4.764706    2.666471  108.750000        19.622353
Drama               5.080645    3.022258  120.838710        21.086774
Family              5.173913    2.758116  114.782609         19.72913
Foreign             5.109589    3.099589  121.698630        18.647534
Games               5.065574    3.252295  127.836066        20.285082
Horror              4.857143    3.025714  112.482143           19.865
Music               5.235294    2.950784  113.647059         19.44098
New                 4.746032    3.116984  111.126984        19.418571
Sci-Fi              4.885246    3.219508  108.196721        21.153934
Sports              4.716216    3.125135  128.202703        20.395405
Travel              5.350877    3.235614  113.315789        19.025088